{% extends 'admintemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h4 align="center">STATE AUTHORITIES</h4>
    <a class="btn btn-primary mt-4 mb-4" href="{% url 'state_register' %}" role="button">Register</a>
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <th>SL No.</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Edit</th>
      <th>Remove</th>
      </thead>
      {% for i in s %}
      <tbody>
      <td>{{forloop.counter}} </td>
      <td>{{i.name}}</td>
      <td>{{i.username}}</td>
      <td>{{i.email}}</td>
      <td>{{i.contact_no}}</td>
      <td><a href="{% url 'state_update' i.id %}" class="btn btn-success">Edit</a></td>
      <td>
        <form action="{% url 'state_delete' i.id %}" method="post" onsubmit="myFunction()">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Remove</button>
        </form>
      </td>
      </tbody>
      {% endfor %}
    </table>


    <script>
    function myFunction() {
    alert("Deleted");
    }
</script>
  </div>
</div>
{% endblock %}