{% extends 'statetemp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h4 align="center">POLICE AUTHORITIES</h4>
    <a class="btn btn-primary mt-4 mb-4" href="{% url 'police_register' %}" role="button">Register</a>
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
      <th>SL No.</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Designation</th>
      <th>District</th>
      <th>Station</th>
      <th>Remove</th>
      </thead>
      {% for i in p %}
      <tbody>
      <td>{{forloop.counter}} </td>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.username}}</td>
      <td>{{i.email}}</td>
      <td>{{i.contact_no}}</td>
      <td>{{i.designation}}</td>
      <td>{{i.district}}</td>
      <td>{{i.station}}</td>
      <td>
        <form action="{% url 'police_delete' i.id %}" method="post" onsubmit="myFunction()">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Remove</button>
        </form>
      </td>
      </tbody>
      {% endfor %}
    </table>
    <script>
    function myFunction() {
    alert("Deleted");
    }
</script>
  </div>
</div>
{% endblock %}